
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: 'Teko', sans-serif;
}
.body__container{
}
.Navbar__container{

}
.navbar__logo{
  width: 3vw;
}
.cart__img{
  width: 4vw;
}
.carousel__img{
  width: 100vw;
  height: 50vw;
}