
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: 'Teko', sans-serif;
}
img{
  max-width: 20vw;
}
.Navbar__container{
  padding: 0px;
  padding-right: 0px;
}
.navbar__logo{
  width: 100px;
  margin: 0px;
}
.cart__img{
  width: 4vw;
}
.carousel__img{
  width: 100vw;
  height: 50vw;
}